th, td, input{
  font : 10px arial , sans-serif ;
}
input.input_filter{
  width : 50px ;
}
td.center{
  text-align : center ;
}

div.tab     {
  display : table ;
  width : 750px ;
}
div.tab_row { display : table-row ; }
div.tab_cell{
  display : table-cell ;
  vertical-align : top ;
}

div#outer_container{
  background-color : white ;
}

input#input_x, input#input_y, input#input_z, input#input_t, input#input_p, input#input_update_event_display_interval, input#input_update_particle_table_interval{
  width : 40px ;
}

div#div_user_reco_wrapper, div#div_particle_lists{
  padding : 5px ;
}

th.particle_color{
  width : 30px ;
  height : 10px ;
  background : white ;
  border : 1px solid black ;
}
td.particle_color{
  width : 180px ;
  font: 12px arial , sans-serif ;
  padding : 0px ;
  padding-left : 0.5em ;
}
canvas{
  border : 1px solid black ;
  margin : auto ;
}

table.particle_info{
  width : 750px ;
  background-color : white ;
  border-collapse : separate ;
}
th.particle_info, td.particle_info{
  border : 1px solid black ;
  width : 75px ;
  font : 8pt arial , sans-serif ;
  text-align : left ;
}


table.particle_list{
  width : 180px ;
  border : 1px solid black ;
  border-collapse : separate ;
  background : white ;
  float : left ;
  margin : 5px ;
}
th.particle_list_header{
  text-align : center ;
  background : #ddddff ;
}
th.particle_list{ width :  80px ; }
td.particle_list{ width : 100px ; }
th.particle_list, td.particle_list{
  font : 8pt arial , sans-serif ;
}
th.particle_list{
  background : #eeeeee ;
}
td.particle_list{
  background : #eeeeff ;
}

th.reco_particle_heading{
  background : #ffcccc ;
  text-align : center ;
}

th.histogram_heading{
  background : #ccffcc ;
  text-align : center ;
}

table#reco_particle_first, table#table_histogram_first{
  border-top : 1px solid black ;
  margin-top : 5px ;
}

table.reco_particle{
  width : 350px ;
  margin : auto ;
  padding : 2px ;
  border-bottom : 1px solid black ;
  border-left : 1px solid black ;
  border-right : 1px solid black ;
}

hr.clearboth{
  float : center ;
  clear : both ;
}

pre#pre_info{
  clear : both ;
}


th.histogram_roster{
  background : #ccffcc ;
}
th.histogram_roster, td.histogram_roster{
  width : 100px ;
  font : 10pt arial , sans-serif ;
  text-align : center ;
  border : 1px solid black ;
}

div.plot{
  background : #ffffff ;
  margin : 2px ;
  text-align : center ;
  padding-top : 5px ;
}

table.plot{
  margin-bottom : 20px ;
  width : 252px ;
  border-collapse : collapse ;
  border : 1px solid black ;
  border-top : 0px solid black ;
  margin-top : 0px ;
  display : block ;
  margin : auto ;
  border-spacing : 0px ;
}

td.ps_histogram_show   { width :  10px ; }
td.ps_histogram_name   { width : 100px ; }
td.ps_histogram_options{ width :  30px ; }
td.ps_histogram_remove { width : 100px ; }
td.ps_histogram_remove{
  text-align : left ;
}

td.ps_histogram_show, td.ps_histogram_name, td.ps_histogram_options, td.ps_histogram_remove{
  padding : 0px ;
}

img.icon_histogram{
  width  : 16px ;
  height : 16px ;
  border : 0px ;
  margin : 0px ;
}

select.plot_histogram{
  width : 100px ;
}

input.draw_options{
  width : 20px ;
}
input.plot_submit_histogram{
  width : 60px ;
}
input.plot_histogram_up, input.plot_histogram_down{
  width : 15px ;
}


table#table_tab_selector{
  width : 100% ;
  border : 1px solid black ;
}

td.tab_selection{
  width : 20% ;
  height : 40px ;
  background : grey ;
  color : white ;
  text-align : center ;
  vertical-align : middle ;
  font : 12pt arial black , sans-serif ;
}
td.tab_selection_depressed{
  background : black ;
  color : white ;
}

canvas.plot{
  margin : 0px ;
  display : block ;
  margin : auto ;
}

div#outer_container{
}