div.tab     {
  display : table ;
  width : 750px ;
}
div.tab_row { display : table-row ; }
div.tab_cell{
  display : table-cell ;
  vertical-align : top ;
}

div#outer_container{
  background-color : white ;
}

input#input_x, input#input_y, input#input_z, input#input_t, input#input_p{
  width : 40px ;
}


th.particle_color{
  width : 30px ;
  height : 10px ;
  background : white ;
  border : 1px solid black ;
}
td.particle_color{
  width : 180px ;
  font: 12px arial , sans-serif ;
  padding : 0px ;
  padding-left : 0.5em ;
}
canvas{
  border : 1px solid black ;
  margin : auto ;
}

table.particle_info{
  width : 750px ;
  background-color : white ;
  border-collapse : separate ;
}
th.particle_info, td.particle_info{
  border : 1px solid black ;
  width : 75px ;
  font : 8pt arial , sans-serif ;
  text-align : left ;
}
